
        h2 {
            color: rgb(246, 249, 251);
        }  
        
        body {
            background-color: rgb(106, 184, 237);
        }
         .content {
                 max-width: 500px; margin: auto;}
